$darkmode: true;
$primary: #56d6f5;
$onPrimary: #003642;
$primaryContainer: #004e5e;
$onPrimaryContainer: #abedff;
$secondary: #b2cbd3;
$onSecondary: #1d343a;
$secondaryContainer: #334a51;
$onSecondaryContainer: #cee7ef;
$tertiary: #bfc4ea;
$onTertiary: #292e4d;
$tertiaryContainer: #3f4565;
$onTertiaryContainer: #dde1ff;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #0F1011;
$background: #0F1011;
$onBackground: #e1e3e4;
$surface: #191c1d;
$onSurface: #e1e3e4;
$surfaceVariant: #3f484b;
$onSurfaceVariant: #bfc8cb;
$outline: #899295;
$shadow: #000000;
$inverseSurface: #e1e3e4;
$inverseOnSurface: #2e3132;
$inversePrimary: #00687c;
