$darkmode: true;
$primary: #5bd5fa;
$onPrimary: #003543;
$primaryContainer: #004e61;
$onPrimaryContainer: #b2ebff;
$secondary: #b3cad4;
$onSecondary: #1d333b;
$secondaryContainer: #344a52;
$onSecondaryContainer: #cee6f0;
$tertiary: #c2c3eb;
$onTertiary: #2b2e4d;
$tertiaryContainer: #424465;
$onTertiaryContainer: #e0e0ff;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #0F1011;
$background: #0F1011;
$onBackground: #e1e3e4;
$surface: #191c1d;
$onSurface: #e1e3e4;
$surfaceVariant: #40484b;
$onSurfaceVariant: #bfc8cc;
$outline: #899296;
$shadow: #000000;
$inverseSurface: #e1e3e4;
$inverseOnSurface: #2e3132;
$inversePrimary: #00677f;
